@model IThill_academy.Models.PagedResult<IThill_academy.Models.Student>
@{
Layout = "_LayoutAdmin";
}

<h2 class="mb-3">Список студентов</h2>

<div class="dropdown mb-3">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Сортировать
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="Students" asp-route-sortOrder="newest">Новые пользователи</a></li>
        <li><a class="dropdown-item" asp-action="Students" asp-route-sortOrder="name_asc">Имя ↑</a></li>
        <li><a class="dropdown-item" asp-action="Students" asp-route-sortOrder="name_desc">Имя ↓</a></li>
        <li><a class="dropdown-item" asp-action="Students" asp-route-sortOrder="date_asc">Дата ↑</a></li>
        <li><a class="dropdown-item" asp-action="Students" asp-route-sortOrder="date_desc">Дата ↓</a></li>
    </ul>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Дата регистрации</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model.Items)
    {
    <tr>
        <td>@student.FirstName</td>
        <td>@student.LastName</td>
        <td>@student.Email</td>
        <td>@student.PhoneNumber</td>
        <td>@student.CreatedAt.ToString("dd.MM.yyyy")</td>
    </tr>
    }
    </tbody>
</table>

<!-- Пагинация -->
<nav>
    <ul class="pagination">
        @if (Model.Page > 1)
        {
        <li class="page-item">
            <a class="page-link" asp-action="Students" asp-route-page="@(Model.Page - 1)" asp-route-pageSize="@Model.PageSize">Назад</a>
        </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
        <li class="page-item @(i == Model.Page ? "active" : "")">
            <a class="page-link" asp-action="Students" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
        </li>
        }

        @if (Model.Page < Model.TotalPages)
        {
        <li class="page-item">
            <a class="page-link" asp-action="Students" asp-route-page="@(Model.Page + 1)" asp-route-pageSize="@Model.PageSize">Вперёд</a>
        </li>
        }
    </ul>
</nav>
