@model List<IThill_academy.Models.Course>

<h2>Список курсов</h2>
@if (ViewBag.Error != null)
{
<div class="alert alert-danger">@ViewBag.Error</div>
}


<form method="get" class="mb-3">
    <input type="text" name="search" placeholder="Поиск..." value="@Context.Request.Query["search"]" />
    <select name="sort">
        <option value="">Без сортировки</option>
        <option value="title_asc">Название ↑</option>
        <option value="title_desc">Название ↓</option>
    </select>
    <button type="submit" class="btn btn-primary">Искать</button>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Title</td>
            <td>@course.Description</td>
            <td>@course.Price</td>
            <td><form asp-action="Enroll" method="post">
                <input type="hidden" name="courseId" value="@course.Id" />
                <button type="submit" class="btn btn-success">Записаться</button>
            </form>
            </td>
        </tr>
    }
    </tbody>
</table>